<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script
          type="text/javascript"
          src="/js/lib/dummy.js"

  ></script>

  <link rel="stylesheet" type="text/css" href="/css/result-light.css">

  <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.2.0/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style id="compiled-css" type="text/css">
    [v-cloak] { display: none; }
  </style>


  <!-- TODO: Missing CoffeeScript 2 -->

  <script type="text/javascript">//<![CDATA[
console.log('ooooooooooooooooooooooooooooooooooooooooooooooooooo')
  window.onload=function(){

// Full spec-compliant TodoMVC with localStorage persistence
// and hash-based routing in ~120 effective lines of JavaScript.

// localStorage persistence
    var STORAGE_KEY = 'todos-vuejs-2.0'

      var lists = {{ todos | safe }};
      // var todoss = [];
      var list = [];
      console.log('lists[0]:',lists[0]);
      console.log(typeof (lists[0]));
      for (i = 0;i < lists.length;i++){
          list[i] = JSON.parse(lists[i]);
      }
      // list = JSON.parse(lists);
      // list.push(
      //         {
      //           id:1,
      //           title:'ggggggg',
      //           completed: false
      //         });
      // console.log('todos:',todoss);
      // console.log(Object.prototype.toString.call(todoss[0]));
      console.log('lists:',lists);
      localStorage.setItem(STORAGE_KEY, JSON.stringify(list));

    var todoStorage = {
      fetch: function () {
        var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
        todos.forEach(function (todo, index) {
          todo.id = index
        })
        todoStorage.uid = todos.length;
          console.log('todos[0]:',todos[0]);
        return todos
      },
      save: function (todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      }
    }

// visibility filters
    var filters = {
      all: function (todos) {
        return todos
      },
      active: function (todos) {
        return todos.filter(function (todo) {
          return !todo.completed
        })
      },
      completed: function (todos) {
        return todos.filter(function (todo) {
          return todo.completed
        })
      }
    }

// app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        todos: todoStorage.fetch(),
        newTodo: '',
        editedTodo: null,
        visibility: 'all'
      },

      // watch todos change for localStorage persistence
      watch: {
        todos: {
          handler: function (todos) {
            todoStorage.save(todos)
          },
          deep: true
        }
      },

      // computed properties
      // http://vuejs.org/guide/computed.html
      computed: {
        filteredTodos: function () {
          return filters[this.visibility](this.todos)
        },
        remaining: function () {
          return filters.active(this.todos).length
        },
        allDone: {
          get: function () {
              console.log('tick:this.todos',this.todos);
              this.todos.forEach(function (todo) {
                if (todo) {
                  if (todo.completed) {
                    return axios
                            .post('/note/tick', {
                                      id: todo.id,
                                      completed: true
                                    }
                            )
                  } else {
                    return axios
                            .post('/note/tick', {
                                      id: todo.id,
                                      completed: false
                                    }
                            )

                  }
                }
              });
            return this.remaining === 0
          },
          set: function (value) {
            this.todos.forEach(function (todo) {
              todo.completed = value;

            });

          }
        }
      },

      filters: {
        pluralize: function (n) {
          return n === 1 ? 'item' : 'items'
        }
      },

      // methods that implement data logic.
      // note there's no DOM manipulation here at all.
      methods: {
        addTodo: function () {
            var value = this.newTodo && this.newTodo.trim()
            if (!value) {
                return
            }
          this.todos.push({
            id: todoStorage.uid++,
            title: value,
            completed: false
          })
          this.newTodo = '';
            axios
                .post('/note/save_todo',{
                    id: todoStorage.uid,
                    title: value,
                    completed: false
                });
          console.log('save_todo:value:',value);
          console.log('save_todo:id:',todoStorage.uid);
          //wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww

        },

        removeTodo: function (todo) {
          this.todos.splice(this.todos.indexOf(todo), 1);
            axios
                .post('/note/delete',{
                    id:todo.id,
                    title: todo.title
                });
            console.log('delete:todos:',this.todos);
            console.log('delete:todo.id:',todo.id);
            console.log('this.todos.indexof:',this.todos.indexOf(todo))
        },
        //wowowoowooowowowowowowoowwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
        editTodo: function (todo) {
          this.beforeEditCache = todo.title
          this.editedTodo = todo
        },

        doneEdit: function (todo) {
          if (!this.editedTodo) {
            return
          }

          this.editedTodo = null
          todo.title = todo.title.trim()
          if (!todo.title) {
            this.removeTodo(todo)
          }
            console.log('change:todo:',todo);
            axios
                .post('/note/change',{
                    id: todo.id,
                    title: todo.title,
                })

        },

        cancelEdit: function (todo) {
          this.editedTodo = null
          todo.title = this.beforeEditCache
        },

        removeCompleted: function () {
          this.todos = filters.active(this.todos)
            axios
                .get('/note/rm')
        }
      },

      // a custom directive to wait for the DOM to be updated
      // before focusing on the input field.
      // http://vuejs.org/guide/custom-directive.html
      directives: {
        'todo-focus': function (el, binding) {
          if (binding.value) {
            el.focus()
          }
        }
      }
    })

// handle routing
    function onHashChange () {
      var visibility = window.location.hash.replace(/#\/?/, '')
      if (filters[visibility]) {
        app.visibility = visibility
      } else {
        window.location.hash = ''
        app.visibility = 'all'
      }
    }

    window.addEventListener('hashchange', onHashChange)
    onHashChange()

// mount
    app.$mount('.todoapp')


  }

  //]]></script>

</head>
<body>
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
      <input class="new-todo"
             autofocus autocomplete="off"
             placeholder="What needs to be done?"
             v-model="newTodo"
             @keyup.enter="addTodo">
    </form>
  </header>
  <section class="main" v-show="todos.length" v-cloak>
    <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
    <label for="toggle-all"></label>
    <ul class="todo-list">
      <li v-for="todo in filteredTodos"
          class="todo"
          :key="todo.id"
          :class="{ completed: todo.completed, editing: todo == editedTodo }">
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          {% verbatim %}
          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
          {% endverbatim %}
          <button class="destroy" name="dltt" @click="removeTodo(todo)"></button>
        </div>
        <input class="edit" type="text"
               v-model="todo.title"
               v-todo-focus="todo == editedTodo"
               @blur="doneEdit(todo)"
               @keyup.enter="doneEdit(todo)"
               @keyup.esc="cancelEdit(todo)">
      </li>
    </ul>
  </section>
  <footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
           {% verbatim %}
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
               {% endverbatim %}
    </span>
    <ul class="filters">
      <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
      <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
      <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
    </ul>
      <button type="button" class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
        Clear completed
      </button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://evanyou.me">Evan You</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<script>
    console.log('yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy')
  // tell the embed parent frame the height of the content
  if (window.parent && window.parent.parent){
    window.parent.parent.postMessage(["resultsFrame", {
      height: document.body.getBoundingClientRect().height,
      slug: "4dr2fLb7"
    }], "*")
  }

  // always overwrite window.name, in case users try to set it manually
  window.name = "result"

  // console.log(localStorage.getItem(STORAGE_KEY, JSON.stringify(todoss)));
</script>
</body>
</html>